*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color:white
}
button{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #7f9c86;
  color: white;
  border: none;
}
h5{
  margin: 10px;
  color: #333;
  background-color: aqua;
  padding: 10px;
width: fit-content;
font-size: 100px;
}