@import "tailwindcss"; 
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html,body{
  height:100%;
  width:100%;
}
body{
  background-color: black
} 
h1{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  text-decoration: underline;
}