*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'helvetica', sans-serif;
}
html, body, #root {
  height: 100%;
  width:100%;
}
.card{
  width: 300px;
  border: 5px solid rgb(194, 161, 161);
  margin: 5px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(234, 162, 162);
}
.parent{
  padding: 20px;
  justify-content: center;
  align-items: center;
 display: flex;
  flex-wrap: wrap;
}
.card button{
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.card p{
  margin : 20px ;
}
.card img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin:10px;
}