*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #7f9c86;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.nav{
  background-color: blue;;
  padding: 10px;
  margin: 5px;
  border-radius:10px ;
  color: white;
}